
.title{
    padding-left: 15px;
   margin-top: 15px;
   padding-bottom: 0px;
}
.title h1{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}
.image{
    height: 250px;
    width: 327px;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.localisation span, .price span{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: capitalize;
}
.informatioApp{
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
}
.date, .reservation, .price{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}
.container_liste .ville{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Liste{
    /* padding-left: 11px !important;
    padding-right: 20px !important; */
    margin: 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}
.wrapper-liste{
    margin: 0px 50px;
    display: flex;
    flex-wrap: wrap;
}
.wrapper-categorie{
    margin: 0px 50px;
    display: flex;
    flex-wrap: wrap;
}
.categorieapp{
    margin-top: 160px ;
}
