@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container_navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.wrapper-cherche{
  max-height: 90px;
  max-weight: 900px;
  display: flex;
  flex-wrap: wrap;
}
.container-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(42, 65, 165);
    height: 126px;
}

.container-wrapper .logo {
    font-size: 50px;
    color: white;
}

.container-wrapper .contenerSearch{
  width: 100%;
  height: 100%;
    display: flex;
    border: 1px solid #cccccc;
    padding: 10px 15px;
    border-radius: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
}
.dateentrer, .datesorie, .nombreplace, .iconsearch{
    font-size: 18px;
    margin: 0px 10px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px; 
}
.Popupcherche1, .tooltipBoundary{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nombreplace, .iconsearch{
  display: flex;
  justify-content: center;
  align-items: center;
}
.space{
    border-left: 1px solid #ccc;
}
.ajouterapp, .appartement{
    font-size: 20px;
    margin-top: 15px;
}

.profil{
  padding: 5px;
}
.profil img{
    width: 35px;
    height: 35px;
    border-radius: 50%;

}
.container_profil{
  display: flex;
  justify-content: center;
  align-items: center;
}
.conte{
    border: 1px solid white;
    width: 100px;
    height: 65%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conte:hover{
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
}
.containerprofil{
    cursor: pointer;
    position: fixed;
    z-index: 99;
}
.containerprofil ul{
    margin-top: 200px;
    padding:  15px 0px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    background-color: white
    
}
.containerprofil ul li{
    list-style: none;
    letter-spacing: 1px;
    padding: 5px 5px;
    margin: 0px  15px;
}
.containerprofil ul li:hover{
    background-color: rgba(0, 0, 0, .2);
}
.popup{
    margin: 0px auto;
    max-width: 600px;
    max-height: 700px;
    z-index: 100;
  }
  .content_form{
    width: 100%;
    height: 100%;
    padding: 45px;
    background-color: rgb(42, 65, 165);
    border-radius: 20px;
  }
  .container_form{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .content_form .form .container_form h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    letter-spacing: 1px;
  }
.form .error{
  color: #ff0000;
  font-size: 18px;
  font-weight: 600;
}
.form .succes{
  text-align: center;
  color: rgb(15, 206, 15);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}
  .content_form .form span{
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dateentrer, .datesorie {
    padding: 0px 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .datesorie-1, .dateentreer-1{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  .active{
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
  }
  .content_form .form .fleche :hover{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2);
  }
  .profil{
    display: flex;
  }
  .container_profil .profil .navbar{
    color: white;
    font-size: 25px;
    margin: 0px 10px;
  }
  .content_form .form .container_form label{
    font-size: 18px;
    color: white;
  }
  .content_form .form .container_form input{
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-radius: 1 solid #ccc;
    padding: 0px 5px;
  }
  .content_form .form .container_form .button{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .content_form .form .container_form .button .btnquiter{
    background-color: rgb(206, 15, 15);
    text-align: center;
   flex: 1;
   padding: 10px;
   margin-right: 10px;
   border-radius: 10px;
   cursor: pointer;
   
  }
  .calandardate{
    display: flex;
  }
  .content_form .form .container_form .button .btnenvoyer{
    background-color: rgb(15, 206, 15);
   flex: 1;
   padding: 10px;
   margin-left: 10px;
   border-radius: 10px;
   cursor: pointer;
  }
  .container_inf .nom{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
  }
  .calandar .DayPicker{
    width: 70%;
    height: 60%;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: rgb(42, 65, 165);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
    cursor: pointer;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    margin: 43px 237px;
    overflow: auto;
  }
 .scroll-wrapper::-webkit-scrollbar { 
    display: none; 
}
 
#root > div.container_navbar > div > div.wrapper > div > div.calandar > div.DayPicker > div > div > div.rdp-month.rdp-caption_start > table > tbody > tr > td > button,
#root > div.container_navbar > div > div.wrapper > div > div.calandar > div.DayPicker > div > div > div.rdp-month.rdp-caption_end > table > tbody > tr > td > button{
  margin: 16px !important;
}
.nameappartement{
  font-size: 18px;
  font-weight: 600;
  letter-spacing:1px ;
}
.nameappartement ul li{
  padding: 10px 30px;
  color: rgb(42, 65, 165);
}
.nameappartement ul li:hover{
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  cursor: pointer;
}
#popup-root .popup-overlay .popup-content {
  padding: 20px;
  width: 70%;
  height: 80%;
}
.updateprofil{
  padding: 20px;
  font-size: 18px;
}
.updateprofil-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.updateprofil-3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.updateprofil-profil{
  margin-left: 10px;
}
.updateprofil-profil img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.name-updateprofil{
  display: flex;
}
.name-updateprofil .color{
  height: 10px;
  width: 20px;
  background-color: rgb(42, 65, 165);
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 5px;
}
.container-updateprofil .container-updateprofil-1{
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
}
/* .updateprofil-image-container{
  margin-right: 40px;
} */
.updateprofil-image-container img{
    width: 295px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.updateprofil-image{
  position: relative;
}
.icon-photo {
  position: absolute;
  top: 0px;
  margin: 20px;
  font-size: 20px;
  color: rgb(42, 65, 165);
}
.profil-information-update, .container-updateprofil-2{
  flex:1;
  justify-content: center;
  align-items: center;
}
.profil-information-1 .name,.profil-information-1 .email, .profil-information-1 .telephone, .profil-information-1 .adress{
  padding: 9px 0px;
}
.profil-information .buton{
  margin: 20px 0px;
  cursor: pointer;
 }

.profil-information .buton, .formupdate-profil button, .updateprofil-image-container .btn input {
  padding: 15px 20px;
  border:1px  solid rgb(42, 65, 165);
  color:rgb(42, 65, 165) ;
  border-radius: 10px;
  
}
.updateprofil-image-container .btn input {
  border: 1px dashed rgb(42, 65, 165);
  margin-left: 35px;
}
.error{
  color: red;
}
/* .profil-information-update-1 .name-1, 
.profil-information-update-1 .email-1, .profil-information-update-1 .telephone-1,
.profil-information-update-1 .adress-1{
  padding: 9px 0px;
} */
.formupdate-profil .btn{
  cursor: pointer;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formupdate-profil .btn input{
   margin-right: 40px;
}
.btn .button{
  margin-right: 20px;
} 
.updateprofil-image-container .btn {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.name-1 input:focus, .email-1 input:focus, .telephone-1 input:focus, .adress-1 input:focus{
  outline: none;
}
.name-1 input, .email-1 input, .telephone-1 input, .adress-1 input{
  background-color: rgba(0, 0, 0, .1);
  border-radius: 5px;
  height: 40px;
  width: 100%;
}
input[type="file"] {
    display: none;
}
.file-upload{
   border: 1px dashed rgb(42, 65, 165);
    display: inline-block;
    padding: 15px 5px;
    cursor: pointer;
    color: rgb(42, 65, 165);
    font-size:20px;
    border-radius:10px;
    margin-top: 8px;
}
.succes{
  margin-top: 5px;
  color: green;
  text-align: center;
}